@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #334155;
}

html,
body {
  background-color: white;
  font-family: "Nunito", sans-serif;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-cyan-700;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
